
/* partners */

main {
    padding-top: 80px;
    padding-bottom: 30px;
    
}

.partners-lacation {
    display: flex;
    flex-wrap: wrap;

}

.fon {
    display: block;
    width: 255px;
    height: 120px;
}

.fon-color-0 {
    background-color: #1C4280;
    padding: 36px 19px;

}

.fon-color-1 {
     background-color: #143646;
     padding: 44px 30px;
}

.fon-color-2 {
     background-color: #FD9339;
     padding: 40px 40px;
}

.fon-color-3 {
     background-color: #9E4DC3;
     padding: 40px 40px;
}
.fon-color-4 {
    background-color: #FD9339;
    padding: 40px 40px;
}

.fon-color-5 {
   background-color: #E2E2E4;
   padding: 35px 30px;
}

.fon-color-6 {
    background-color: #C71C36;
    padding: 30px 60px;
}
    
.fon-color-7 {
     background-color: #DCF3F9; 
     padding: 22px 55px;
}
.fon-color-8 {
    background-color: #EAEAEA;
    padding: 30px 35px;
    
}
.fon-color-9 {
    background-color: #282240; 
    padding: 40px 35px;
}
.fon-color-10 {
    background-color: #1D4568;
    padding: 35px 30px; 
}
.fon-color-11 {
    background-color: #000000; 
    padding: 10px 50px;
}

.fon-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

